@{
    
}


<form method="post">
    <p>Name: <input name="name" type="text" /></p>
    <p>Description: <input name="description" type="text" /></p>
    <input type="submit" value="Add Cheese"  />

</form>
